-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.9/index.html
detectron2

pillow<10.0.0  # After 10.0.0, following error occurs: AttributeError: module 'PIL.Image' has no attribute 'LINEAR' 

# Copied from Detic
opencv-python==4.5.5.62
timm==0.5.4
dataclasses  # remove version specification for local install
ftfy==6.0.3
regex==2022.1.18
fasttext==0.9.2
scikit-learn==1.0.2
numpy==1.22.0
lvis==0.5.3
nltk==3.6.7
git+https://github.com/openai/CLIP.git
