name: Peripheral test

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
  peripheral:
    runs-on: ubuntu-20.04
    steps:
        - name: Checkout Code
          uses: actions/checkout@v2
        - name: pip install formatters and mypy
          run: |
              pip3 install mypy flake8 isort
        # Temporary commented out due to avoid testing submodule packages
        # TODO (HiroIshida) fix
        # - name: check by mypy
        #   run: |
        #       pip3 install -r requirements.txt
        #       pip3 install numpy==1.23  # to enable numpy's type checking
        #       mypy --version
        #       mypy .

        - name: check by isort and flake8
          run: |
              python3 -m isort example/ test/ node_script/
              python3 -m flake8 example/ test/ node_script/
